<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Contact</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="css/bootstrap.css" media="screen" />
        <link rel="stylesheet" href="css/icoMoon.css" media="all" />       
        <link rel="stylesheet" href="css/bootstrap-responsive.css" media="all">
        <link rel="stylesheet" href="css/prettyPhoto.css" media="all">
        <link rel="stylesheet" href="style.css" media="all">    
        <link href="css/responsive.css" rel="stylesheet" media="all">
        <!--[if IE]>
        <style type="text/css">
            .single-page .detail-post .detail-main .kp-dropcap:first-letter {
                padding:5px 10px 0 10px;
            }
        </style>
        <![endif]-->       

        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
            <link rel="stylesheet" href="css/ie.css" type="text/css" media="all" />
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    </head>
    <body class="kp-home">
            <header id="page-header">
            
                <div id="header-top">
                    <div class="container">
                    <div id="kp-logo"><a href="#"><img src="placeholders/logo.png" alt=""></a></div>
                    </div>
                </div><!--header-top-->

                <nav class="navbar">
                    <div class="navbar-inner">
                        <div class="container">
                            
                                <ul class="sf-menu" id="menu-top">
                                    <li class="current-menu-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li>
                                        <a href="about.html">Pages</a>
                                        <ul>
                                        <li>
                                        <a href="portfolios-2-column.html">Portfolios 2 column</a>

                                        </li>
                                        <li>
                                        <a href="portfolios-3-column.html">Portfolios 3 column</a>

                                        </li>
                                        <li>
                                        <a href="about.html">About Us</a>      
                                        </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="blog.html">Blog</a>
                                        <ul>
                                        <li><a href="blog-detail.html">Blog detail</a></li>
                                        <li><a href="blog.html">Blog</a></li>
                                        </ul> 
                                    </li>
                                    <li><a href="#">Shortcode</a></li>
                                    <li><a href="contact.html">Archives</a></li>
                                    <li><a href="contact.html">Contact</a></li>                                     
                                </ul>
                                <div id="mobile-menu">
                                    <span>Menu</span>
                                    <ul id="toggle-view-menu">
                                        <li class="clearfix">
                                            <h3><a href="#">Home</a></h3>
                                            <span>+</span>
                                            <div class="clearfix"></div>                    
                                            <div class="menu-panel clearfix">
                                                <ul>
                                                    <li><a href="index.html">Index style 1</a></li>
                                                    <li><a href="index-2.html">Index style 2</a></li>
                                                    <li><a href="index-3.html">Index style 3</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <h3><a href="#">Pages</a></h3>
                                            <span>+</span>
                                            <div class="clearfix"></div>                    
                                            <div class="menu-panel clearfix">
                                                <ul>
                                                    <li><a href="about.html">About page</a></li>
                                                    <li><a href="elements.html">Elements page</a></li>
                                                    <li><a href="404.html">404 page</a></li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <h3><a href="#">Portfolio</a></h3>
                                            <span>+</span>
                                            <div class="clearfix"></div>                    
                                            <div class="menu-panel clearfix">
                                                <ul>
                                                    <li><a href="portfolio-3col.html">Portfolio 3 column</a></li>
                                                    <li><a href="portfolio-2col.html">Portfolio 2 column</a></li>
                                                    <li><a href="portfolio-1col.html">Portfolio 1 column</a></li>
                                                    <li>
                                                        <a href="#">Portfolio detail</a>
                                                        <ul>
                                                            <li><a href="portfolio-detail.html">Portfolio single</a></li>
                                                            <li><a href="portfolio-audio.html">Portfolio audio</a></li>
                                                            <li><a href="portfolio-gallery.html">Portfolio gallery</a></li>
                                                            <li><a href="portfolio-video.html">Portfolio video</a></li>
                                                            <li><a href="portfolio-soundcloud.html">Portfolio soundcloud</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="clearfix">
                                            <h3><a href="#">Blog</a></h3>
                                            <span>+</span>
                                            <div class="clearfix"></div>                    
                                            <div class="menu-panel clearfix">
                                                <ul>
                                                    <li>
                                                        <a href="#">Blog style 1</a>
                                                        <ul>
                                                            <li><a href="blog-1-left-sidebar.html">Width left sidebar</a></li>
                                                            <li><a href="blog-1-right-sidebar.html">Width right sidebar</a></li>
                                                            <li><a href="blog-1-two-sidebar.html">Width two sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a href="blog-2.html">Blog style 2</a></li>
                                                    <li>
                                                        <a href="#">Blog style 3</a>
                                                        <ul>
                                                            <li><a href="blog-3-one-sidebar.html">Width one sidebar</a></li>
                                                            <li><a href="blog-3-two-sidebar.html">Width two sidebar</a></li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">Blog single</a>
                                                        <ul>
                                                            <li><a href="single-1.html">Single style 1</a></li>
                                                            <li><a href="single-2.html">Single style 2</a></li>
                                                            <li><a href="single-3.html">Single style 3</a></li>
                                                            <li><a href="single-4.html">Single style 4</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="clearfix"><h3><a href="contact.html">Contact</a></h3></li>                   
                                    </ul><!--toggle-view-menu-->
                                </div><!--mobile-menu-->                         
                            

                            <form class="navbar-form pull-right">
                              <input type="text" placeholder="Search this site...">
                              <input type="submit" value="" class="sb-form">
                            </form>

                        </div>
                        <!-- container -->
                    </div>
                </nav>
                <!-- navbar -->
                
            </header><!--page-header-->
                       
            <div id="main-content">                
                
                <div class="breadcrumb">
                    <div class="container">
                        <h2>Contact</h2>
                        <p>Enter your additional description here...</p>
                    </div>
                    <!-- container -->
                </div>
                <!-- breadcrumb -->
                
                <div class="container">
                    <div class="row-fluid">
                        <div class="span9">
                            <div class="main-col">
                                <div id="kp-map">
                                    <iframe width="770" height="622" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Duy+T%C3%A2n,+D%E1%BB%8Bch+V%E1%BB%8Dng,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;aq=0&amp;oq=duy+ta&amp;sll=21.02274,105.836964&amp;sspn=0.090853,0.169086&amp;ie=UTF8&amp;hq=&amp;hnear=Duy+T%C3%A2n,+D%E1%BB%8Bch+V%E1%BB%8Dng,+C%E1%BA%A7u+Gi%E1%BA%A5y,+H%C3%A0+N%E1%BB%99i,+Vi%E1%BB%87t+Nam&amp;ll=21.028841,105.793912&amp;spn=0.011356,0.021136&amp;t=m&amp;z=14&amp;output=embed"></iframe>
                                </div><!--map-->
                            </div>
                            <!-- main-col -->

                        </div>
                        <!-- span9 -->

                        <div class="span3">
                            <div class="sidebar">
                                <div id="contact-content" class="widget">                        
                                    <h2 class="widget-title">contact infomation</h2>
                                    <p>Mollis Integer Ac Morbi Nunc Phasellus</p>
                                    <ul class="clearfix">
                                        <li class="clearfix"><i class="icon-home"></i> <span>123 Sullivan Street, New York</span></li>
                                        <li class="clearfix"><i class="icon-phone"></i> <span>CALL NOW For Agent .212-377-9999</span></li>
                                        <li class="clearfix"><i class="icon-link"></i> <span><a href="#">www.dummytext.com</a></span></li>
                                        <li class="clearfix"><i class="icon-envelope"></i><span> <a href="mailt0:email@domainname.com">email@domainname.com</a></span></li>
                                    </ul>
                                
                                </div><!--contact-content-->
                            
                            <div id="form-contact" class="clearfix">
                                <form action="/" method="post" id="form-ct" class="clearfix">
                                    <p>
                                        <label for="inputName">Name <span>(*)</span></label>
                                        <input type="text" class="required" id="inputName" name="name">
                                    </p>
                                    <p>
                                        <label for="inputEmail">Email <span>(*)</span></label>
                                        <input type="text" class="required mail" id="inputEmail" name="email">
                                    </p>
                                    <p>
                                        <label for="inputWebsite">Website</label>
                                        <input type="text" id="inputWebsite" name="website">
                                    </p>
                                    <p class="message">
                                        <label for="inputMessage">Message <span>(*)</span></label>
                                        <textarea class="required" rows="6" name="message" id="inputMessage"></textarea>
                                    </p>
                                    <input type="submit" class="contact-submit" id="submit-contact" name="submit" value="submit">
                                </form>
                                <div id="response"></div>
                            </div><!--forem-contact-->
                                
                            </div>
                            <!-- sidebar -->
                        </div>
                        <!-- span3 -->
                    </div>
                    <!-- row-fluid -->
                   
                </div>
                <!-- container -->
                <aside class="sidebar-bottom container">
                    <div class="row-fluid">
                        <div class="span3">
                            <div class="widget latest-news">
                                <h2 class="widget-title">Latest News</h2>
                                <ul>
                                    <li>
                                        <a href="#">Class Purus Eros Praesent Laoreet Feugiat Est</a>
                                        <p class="kp-meta"><span>September 12, 2012</span></p>
                                    </li>
                                    <li>
                                        <a href="#">Class Purus Eros Praesent Laoreet Feugiat Est</a>
                                        <p class="kp-meta"><span>September 12, 2012</span></p>
                                    </li>
                                </ul>
                            </div><!--widget-->
                        </div>

                        <div class="span3">
                            <div class="widget">
                                <h2 class="widget-title">About us</h2>
                                <div class="textwidget">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure </p>  
                                </div>
                            </div><!--widget-->                          
                        </div>

                        <div class="span3">
                            <div class="widget newsletter">
                                <h2 class="widget-title">Newsletter</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <form class="navbar-form span12">
                                  <input type="text" placeholder="Your email...">
                                  <input type="submit" value="" class="sb-form">
                                </form>
                            </div><!--widget-->
                        </div><!---span3-->
                        <div class="span3 follow-us">
                            <div class="widget follow-us">
                                <h2 class="widget-title">Follow us</h2>
                                <ul>
                                    <li class="clearfix">
                                        <a href="#" class="icon-facebook"></a> <span>facebook</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="icon-tumblr"></a> <span>Twitter</span>
                                    </li>
                                    <li class="clearfix">
                                        <a href="#" class="icon-google-plus"></a> <span>Google Plus</span>
                                    </li>   
                                </ul>

                            </div><!--widget-->
                        </div>
                    </div>
                    <!-- row-fluid -->
                </aside>
                <!-- sidebar -->
            </div>
            <!--main-content-->
            

            
            <footer id="page-footer" class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <ul class="inline">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li><a href="#">Shortcodes</a></li>
                            <li><a href="#">Archives</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="span6">
                        <p>Copyrights. &copy; 2012 by KopaSoft. all rights reserved</p>
                    </div>
                </div>                
            </footer><!--page-footer-->
            

    
    
        <script src="js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/PIE_IE678.js"></script>
        <script src="js/superfish.js"></script>
        <script src="js/bootstrap.js"></script>
        <script defer src="js/jquery.flexslider.js"></script>       
        <script src="js/jquery.prettyPhoto.js"></script>  
        <script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
        <script src="js/jquery.validate.min.js"></script>
        <script src="js/custom.js" charset="utf-8"></script>

    
    </body>
</html>