/* =========================================================
Common styles
============================================================ */
@font-face {
  font-family: 'League Gothic';
  src: url("fonts/leaguegothic-regular-webfont.eot");
  src: url("fonts/leaguegothic-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/leaguegothic-regular-webfont.woff") format("woff"), url("fonts/leaguegothic-regular-webfont.ttf") format("truetype"), url("fonts/leaguegothic-regular-webfont.svg#league_gothicregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'BebasNeuewebfont';
  src: url("fonts/BebasNeuewebfont.eot");
  src: url("fonts/BebasNeuewebfont.eot?#iefix") format("embedded-opentype"), url("fonts/BebasNeuewebfont.ttf") format("truetype"), url("fonts/BebasNeuewebfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

body {
  color: #333;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  line-height: 20px; }

ul, ol {
  list-style: none; }

a {
  transition: all 1s; }

a:active,
a:hover,
a:focus {
  outline: none;
  text-decoration: none; }

input:focus {
  outline: none; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

.container {
  width: 1038px !important; }

.kp-meta {
  color: #879e33;
  font-size: 14px;
  font-family: 'Georgia';
  margin-bottom: 5px;
  margin-top: 5px;
  font-style: italic; }

/*====================================
index
======================================*/
#header-top {
  background: #0b0b0b;
  text-align: center; }

#header-top #kp-logo {
  margin-top: 30px;
  margin-bottom: 35px; }

/*****main-menu***/
#page-header .navbar {
  border-top: 4px solid #2b2b2b;
  border-bottom: 4px solid #2b2b2b;
  margin-bottom: 0;
  position: relative; }

#page-header .navbar-inner {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-radius: 0;
  background: #2b2b2b !important;
  background-image: none;
  border-left: none;
  border-right: none;
  border-top: 1px solid #414141;
  border-bottom: 1px solid #414141;
  padding-left: 0;
  padding-right: 0;
  height: 80px;
  filter: none; }

#page-header .navbar-inner .container {
  padding-top: 19px;
  padding-bottom: 19px; }

#menu-top {
  margin-top: 1px; }


.sf-menu {
  float: left; }
  .sf-menu ul {
    position: absolute;
    display: none;
    top: 65px;
    left: 0;
    z-index: 99;
    min-width: 200px;
    *width: 200px; }
    .sf-menu ul ul {
      top: 0;
      left: 100%; }
  .sf-menu li {
    position: relative;
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -o-transition: background .2s;
    -ms-transition: background .2s;
    transition: background .2s; }
    .sf-menu li:hover > ul {
      display: block; }
  .sf-menu > li {
    float: left;
    margin-left: 50px; }
    .sf-menu > li:first-child {
      margin-left: 0; }
  .sf-menu a {
    display: block;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #d5d5d5; }
    .sf-menu a:hover {
      color: #879e33; }
  .sf-menu .current-menu-item > a {
    color: #879e33 !important; }

.sf-menu > li > a {
  color: #d5d5d5 !important;
  font-family: "BebasNeuewebfont";
  font-size: 30px;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-transform: uppercase;
  text-shadow: none !important; }
  .sf-menu > li > a:hover {
    color: #879e33 !important; }

.sf-menu ul li {
  background: #2b2b2b;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid #414141; }
  .sf-menu ul li:first-child {
    border-top: none; }
  .sf-menu ul li:hover {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none; }
/*******mobile-menu*****/
#mobile-menu {
  display:none;
  position:relative;
  float: left;
}
#mobile-menu > span {
  display:inline-block;
  text-transform:uppercase;
  font-family: "BebasNeuewebfont";
  font-size:30px;
  padding:10px 0;
  color: #d5d5d5;
  cursor:pointer;
  -webkit-transition:all 1s;
  -moz-transition:all 1s;
  -o-transition:all 1s;
  -ms-transition:all 1s;
  transition:all 1s;
}
#mobile-menu > span:hover {
  color:#879e33;
}
#toggle-view-menu {
  display:none;
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: none;
  position:absolute;
  top:40px;
  left:0;
  z-index:99999;
  width:220px;
  font-family: "BebasNeuewebfont";
}
#toggle-view-menu > li {
  border-bottom:1px solid #414141;
  border-top:1px solid #414141;
  margin: 0;
  position: relative;
  cursor: pointer;
  list-style: none;
  background-color:#2b2b2b;
}
#toggle-view-menu h3 {
  font-size: 16px;
  margin: 0;  
  float: left;
  line-height: 40px;  
  padding: 0 15px;
}
#toggle-view-menu h3 a {
  color: #d5d5d5;
  width:100%;
  display:block;
  font-size: 24px
}
#toggle-view-menu h3 a:hover {
  color: #879e33;
}
#toggle-view-menu span {
  float: right;
  font-size: 26px;
  width: 40px;
  height: 40px;
  font-weight: bold;
  text-align: center;
  color: #d5d5d5;
  line-height: 40px;
  background-color:#2b2b2b;
}
#toggle-view-menu li.active {
  background-color:#91c448;
}
#toggle-view-menu li.active span,
#toggle-view-menu li.active h3 a {
  color:#fff;
}
#toggle-view-menu .menu-panel {
  margin: 0px;
  display: none;
  padding: 10px 15px 0;
  font-size: 14px;
  color: #fff;
  background-color:#414141;
}
#toggle-view-menu .menu-panel ul {
  margin:0;
}
#toggle-view-menu li .menu-panel ul li {
  border:none;
  list-style:disc inside;
  margin: 0 0 10px 0;
  color:#405325;

}
#toggle-view-menu .menu-panel ul li a {
  display:inline-block;
  *display:inline;
  zoom:1;
  color:#d5d5d5;
  font-size: 18px
}
#toggle-view-menu .menu-panel ul li a:hover {
  color: #879e33
}
#toggle-view-menu .menu-panel ul li ul {
  margin-left:40px;
  margin-top:10px;
}
/*******search-form*****/
#page-header .navbar-form {
  width: 300px;
  background: #0b0b0b;
  border-radius: 4px;
  height: 42px;
  margin-top: -2px;
  border: 1px solid #333333;
  position: relative;
  display: block; }
  #page-header .navbar-form input {
    border-radius: 0;
    color: #d5d5d5;
    background: #0b0b0b;
    border: none;
    width: 250px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  #page-header .navbar-form .sb-form {
    border: none;
    width: 30px;
    height: 30px;
    background: url(images/icons/input-sb.png) no-repeat;
    float: right;
    margin-right: 5px;
    margin-top: 6px; }

/*****************slider-home***********************/
* html .slides {
  height: 1%; }

.flexslider {
  background: #fff;
  position: relative;
  zoom: 1; }
  .flexslider .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s; }
    .flexslider .flex-viewport .slides {
      zoom: 1; }
      .flexslider .flex-viewport .slides > li {
        display: none;
        -webkit-backface-visibility: hidden; }
      .flexslider .flex-viewport .slides img {
        width: 100%;
        display: block; }
  .flexslider .flex-direction-nav {
    display: none; }
  .flexslider .flex-control-nav {
    position: relative;
    bottom: -40px;
    text-align: center; }
    .flexslider .flex-control-nav li {
      margin: 0 6px;
      display: inline-block;
      zoom: 1;
      
      *display: inline; }
      .flexslider .flex-control-nav li a {
        display: block;
        cursor: pointer;
        line-height: 44px; }

.slider-home .slider-item {
  position: relative; }
  .slider-home .slider-item .slider-caption {
    position: absolute;
    background: #07050a;
    width: 450px;
    top: 65px;
    right: 150px;
    background: rgba(0, 0, 0, 0.7);
    padding: 45px 35px 25px 35px; }
    .slider-home .slider-item .slider-caption > a {
      font-family: "BebasNeuewebfont";
      font-size: 50px;
      color: #879e33;
      display: block;
      margin-bottom: 30px; }
      .slider-home .slider-item .slider-caption > a:hover {
        color: #fff; }
    .slider-home .slider-item .slider-caption p {
      font-size: 19px;
      font-family: "Georgia";
      color: #fff;
      font-style: italic;
      margin-bottom: 35px; }
    .slider-home .slider-item .slider-caption .read-more {
      float: right; }
      .slider-home .slider-item .slider-caption .read-more a {
        float: left; }
        .slider-home .slider-item .slider-caption .read-more a:first-child {
          font-size: 25px;
          font-family: "BebasNeuewebfont";
          text-transform: uppercase;
          color: #fff;
          margin-right: 10px;
          margin-top: 7px; }
          .slider-home .slider-item .slider-caption .read-more a:first-child:hover {
            color: #879e33; }
      .slider-home .slider-item .slider-caption .read-more .icon-read-more {
        display: block;
        float: left;
        background: url(images/icons/input-sb.png) no-repeat;
        width: 30px;
        height: 30px; }
.slider-home .flex-control-nav {
  border-radius: 10px;
  text-align: left;
  background: #2a2824;
  bottom: 20px;
  margin-top: -97px;
  border: 1px solid #343331; }
  .slider-home .flex-control-nav li {
    border-right: 1px solid #020100;
    border-left: 1px solid #343331;
    margin: 0; }
    .slider-home .flex-control-nav li:first-child {
      border-left:none
    }
    
    .slider-home .flex-control-nav li:first-child a {
      border-left: none; 
      border-radius: 10px 0 0 10px;
    }
    .slider-home .flex-control-nav li a {
      font-size: 60px;
      color: #606060;
      display: block;
      padding: 25px 35px;
    }
    .slider-home .flex-control-nav li a:hover {
      color: #fff; 
    }
  
    .slider-home .flex-control-nav .flex-active {
      color: #fff;
      background:#879E33  }

/*******************main-content************************/
#main-content > .main-top {
  background: #879e33;
  text-align: center;
  padding-bottom: 120px; }
  #main-content > .main-top .container {
    border-bottom: 1px solid #9bb342; }
    #main-content > .main-top .container h1 {
      font-family: "League Gothic";
      font-size: 50px;
      text-shadow: 1px 1px rgba(255, 255, 255, 0.9);
      margin-top: 35px;
      margin-bottom: 25px;
      color: #0b0b0b; }
    #main-content > .main-top .container p {
      color: #fff;
      font-size: 18px;
      font-family: 'Georgia';
      font-style: italic;
      border-bottom: 1px solid #5e701d;
      padding-bottom: 25px;
      margin-bottom: 0; }
#main-content > .container .area-1 {
  margin-top: -95px;
  margin-bottom: 30px; }
  #main-content > .container .area-1 .main-top li {
    display: block;
    margin-left: 15px;
    float: left; }
    #main-content > .container .area-1 .main-top li:first-child {
      margin-left: 0; }
    #main-content > .container .area-1 .main-top li .featured-item {
      border: 1px solid #dbdbdb;
      border-radius: 6px;
      width: 284px;
      padding: 25px;
      background: #fff;
      position: relative; }
      #main-content > .container .area-1 .main-top li .featured-item header {
        margin-bottom: 10px; }
        #main-content > .container .area-1 .main-top li .featured-item header span {
          float: left;
          margin-right: 10px;
          font-size: 40px;
          display: block;
          width: 40px;
          height: auto;
          background: none;
          color: #0b0b0b; }
        #main-content > .container .area-1 .main-top li .featured-item header h2 {
          float: left;
          font-family: "BebasNeuewebfont";
          font-size: 40px;
          margin-top: 5px;
          color: #0b0b0b; }
#main-content > .container .main-content-bottom {
  padding-bottom: 10px; }
  #main-content > .container .main-content-bottom .widget .widget-title {
    font-size: 30px;
    font-family: "BebasNeuewebfont";
    color: #879e33;
    line-height: 23px; }

.last-news,
.last-video {
  border-top: 1px solid #dbdbdb;
  padding-top: 20px; }

.last-news li .kp-post figure, .article-list li .kp-post figure {
  float: left;
  margin-right: 20px;
  width: 200px; }
  .last-news li .kp-post figure a, .article-list li .kp-post figure a {
    display: block; }
    .last-news li .kp-post figure a img, .article-list li .kp-post figure a img {
      width: 100% !important; }
.last-news li .kp-post .kp-post-content, .article-list li .kp-post .kp-post-content {
  float: left;
  width: 55%; }
  .last-news li .kp-post .kp-post-content header, .article-list li .kp-post .kp-post-content header {
    margin-top: 2px; }
    .last-news li .kp-post .kp-post-content header a, .article-list li .kp-post .kp-post-content header a {
      color: #0b0b0b;
      font-size: 30px;
      display: block;
      margin-top: -5px;
      line-height: 30px;
      font-family: "League Gothic"; }
      .last-news li .kp-post .kp-post-content header a:hover, .article-list li .kp-post .kp-post-content header a:hover {
        color: #879e33; }

.last-news li {
  padding-top: 30px;
  display: block;
  margin-bottom: 20px;
  border-top: 1px solid #dbdbdb; }
  .last-news li:first-child {
    border-top: none; }

.last-video .kp-media {
  margin-top: 30px;
  border: 15px solid #ddd;
  border-radius: 6px; }
  .last-video .kp-media iframe {
    width: 100% !important; }
  .last-video .kp-media .video-wrapper {
    height: 0;
    padding-bottom: 59.15%;
    padding-top: 0;
    position: relative; }

.sidebar-bottom {
  padding-top: 20px;
  margin-top: 25px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb; }
  .sidebar-bottom .widget .widget-title {
    color: #0b0b0b;
    font-size: 30px;
    font-family: "BebasNeuewebfont";
    margin-bottom: 5px; }
  .sidebar-bottom .latest-news li a {
    font-weight: bold;
    color: #333; }
    .sidebar-bottom .latest-news li a:hover {
      color: #879e33; }
  .sidebar-bottom .newsletter .navbar-form {
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    height: 40px;
    margin-left: 0;
    margin-top: 25px; }
    .sidebar-bottom .newsletter .navbar-form input {
      border: none;
      width: 80%;
      color: #333;
      -webkit-box-shadow: none;
      box-shadow: none; }
    .sidebar-bottom .newsletter .navbar-form .sb-form {
      background: url(images/icons/input-sb-ft.png) no-repeat;
      height: 30px;
      width: 30px; }
      .sidebar-bottom .newsletter .navbar-form .sb-form:hover {
        background: url(images/icons/input-sb.png) no-repeat; }
  .sidebar-bottom .follow-us li {
    text-transform: uppercase;
    margin-top: 15px; }
    .sidebar-bottom .follow-us li:first-child {
      margin-top: 0; }
    .sidebar-bottom .follow-us li a {
      width: 30px;
      height: 30px;
      color: #fff;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      font-size: 20px;
      float: left; }
    .sidebar-bottom .follow-us li .icon-facebook {
      background-color: #3b5998;
      background-image: none; }
    .sidebar-bottom .follow-us li .icon-tumblr {
      background-color: #00acee;
      background-image: none; }
    .sidebar-bottom .follow-us li .icon-google-plus {
      background-color: #c23a2c;
      background-image: none; }
    .sidebar-bottom .follow-us li span {
      display: inline-block;
      float: left;
      margin-left: 10px;
      margin-top: 5px; }

#page-footer {
  padding-top: 30px;
  padding-bottom: 20px; }
  #page-footer li a {
    color: #879e33;
    font-size: 22px;
    font-family: "League Gothic"; }
    #page-footer li a:hover {
      color: #0b0b0b; }
  #page-footer p {
    text-align: right; }

/*==========================
    Blog
======================*/
.breadcrumb {
  background: #879e33;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  border-radius: 0; }
  .breadcrumb h2 {
    font-size: 50px;
    font-family: "League Gothic";
    color: #0b0b0b;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.9); }
  .breadcrumb p {
    font-size: 19px;
    font-family: "Georgia";
    color: #fff;
    font-style: italic;
    margin-top: 15px; }

.article-list {
  border-bottom: 1px solid #dbdbdb; }
  .article-list li {
    padding-top: 35px;
    border-top: 1px solid #dbdbdb;
    padding-bottom: 30px; }
    .article-list li:first-child {
      padding-top: 0;
      border-top: none; }
    .article-list li .kp-post figure {
      width: 380px; }
    .article-list li .kp-post .kp-post-content {
      width: 48%; }
      .article-list li .kp-post .kp-post-content .kp-meta .meta-time,
      .article-list li .kp-post .kp-post-content .kp-meta .meta-comment {
        float: left; }
        .article-list li .kp-post .kp-post-content .kp-meta .meta-time i,
        .article-list li .kp-post .kp-post-content .kp-meta .meta-comment i {
          margin-right: 10px; }
      .article-list li .kp-post .kp-post-content .kp-meta .meta-time {
        margin-right: 10px; }

.pagination {
  margin: 0; }
  .pagination ul {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0; }
    .pagination ul li a {
      color: #0b0b0b;
      margin-right: 2px;
      font-size: 22px;
      font-family: "League Gothic";
      border: none;
      border-radius: 6px;
      padding: 9px 14px 7px; }
      .pagination ul li a:hover {
        background: #879e33;
        color: #fff; }
    .pagination ul .active a {
      background: #879e33;
      color: white; }

.main-col .pagination {
  margin-top: 30px; }

.kp-ads {
  margin-bottom: 30px;
  margin-top: 30px; }
  .kp-ads img {
    width: 100%;
    display: block;
    height: auto; }

.sidebar .widget {
  padding-top: 20px;
  border-top: 1px solid #dbdbdb;
  margin-top: 30px; }
  .sidebar .widget:first-child {
    padding-top: 0;
    border-top: none;
    margin-top: 0; }
  .sidebar .widget .widget-title {
    color: #879e33;
    text-transform: uppercase;
    font-family: "BebasNeuewebfont";
    font-size: 30px;
    line-height: 22px;
    margin-bottom: 22px; }
.sidebar .last-news {
  border-top: none;
  padding-top: 0; }
  .sidebar .last-news li {
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    border-top: 1px dotted #dbdbdb; }
    .sidebar .last-news li:first-child {
      padding-top: 0;
      border-top: none;
      margin-top: 0; }
    .sidebar .last-news li a {
      font-weight: bold;
      color: #333; }
    .sidebar .last-news li a:hover {
      color: #879E33;
    }
      
.sidebar .kp-popular figure img {
  width: 100%;
  margin-bottom: 10px; }
.sidebar .kp-popular > a {
  color: #0b0b0b;
  font-size: 25px;
  font-family: "League Gothic"; }
.sidebar .kp-popular > a:hover {
  color: #879E33;
}

.sidebar .kp-popular .kp-meta {
  margin-bottom: 10px; }
.sidebar .kp-popular > p {
  padding-bottom: 15px;
  border-bottom: 1px solid #dbdbdb; }
.sidebar .kp-popular > ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px dotted #dbdbdb; }
  .sidebar .kp-popular > ul li:first-child {
    border-top: none; }
  .sidebar .kp-popular > ul li a {
    font-weight: bold;
    color: #0b0b0b; }
  .sidebar .kp-popular > ul li a:hover {
    color: #879E33;
  }

.sidebar .archives {
  margin-top: 20px; }
  .sidebar .archives li {
    padding: 5px 10px 7px;
    background: #f2f2f2;
    border-radius: 6px;
    margin-right: 10px;
    margin-bottom: 15px; }
    .sidebar .archives li:hover {
      background: #879e33; }
      .sidebar .archives li:hover a {
        color: white; }
    .sidebar .archives li a {
      color: #0b0b0b; }
  .sidebar .archives .active {
    background: #879e33; }
    .sidebar .archives .active a {
      color: white; }

/*==========================
    Blog detail
======================*/
.single-page .info-author .pull-left, .about-us-sidebar .info-author .pull-left {
  background: #f2f2f2;
  border-radius: 8px;
  padding: 15px; }
  .single-page .info-author .pull-left .kp-thumb, .about-us-sidebar .info-author .pull-left .kp-thumb {
    width: 160px;
    margin-bottom: 10px; }
    .single-page .info-author .pull-left .kp-thumb img, .about-us-sidebar .info-author .pull-left .kp-thumb img {
      width: 100%; }
  .single-page .info-author .pull-left p, .about-us-sidebar .info-author .pull-left p {
    font-size: 14px;
    font-family: "Georgia";
    font-style: italic; }
    .single-page .info-author .pull-left p a, .about-us-sidebar .info-author .pull-left p a {
      display: inline-block;
      height: 26px;
      border-radius: 50%;
      width: 26px;
      text-align: center;
      line-height: 26px;
      background: #c2c9ca;
      color: #fff;
      font-size: 16px;
      margin-top: -3px;
      margin-left: 5px; }
      .single-page .info-author .pull-left p a:hover, .about-us-sidebar .info-author .pull-left p a:hover {
        background: #879e33; }
.single-page .info-author .pull-right, .about-us-sidebar .info-author .pull-right {
  width: 72.5%; }
  .single-page .info-author .pull-right .widget-title, .about-us-sidebar .info-author .pull-right .widget-title {
    font-family: "BebasNeuewebfont";
    font-size: 25px;
    color: #879e33;
    text-transform: uppercase;
    margin-top: -8px; }
  .single-page .info-author .pull-right h3, .about-us-sidebar .info-author .pull-right h3 {
    font-size: 13px;
    margin-top: -10px;
    font-weight: bold;
    color: #444444; }

.single-page .detail-post .widget-title {
  font-size: 35px;
  font-family: "BebasNeuewebfont";
  color: #0b0b0b;
  text-align: left;
  text-transform: uppercase;
  line-height: 30px;
  margin-bottom: 20px; }
.single-page .detail-post .detail-top {
  background: #f3f3f3;
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 15px 15px 10px 25px; }
  .single-page .detail-post .detail-top .pull-right {
    width: 504px; }
    .single-page .detail-post .detail-top .pull-right img {
      width: 100%; }
  .single-page .detail-post .detail-top .pull-left .kp-meta .meta-time,
  .single-page .detail-post .detail-top .pull-left .kp-meta .meta-comment {
    color: #333;
    margin-bottom: 20px; }
    .single-page .detail-post .detail-top .pull-left .kp-meta .meta-time i,
    .single-page .detail-post .detail-top .pull-left .kp-meta .meta-comment i {
      font-size: 20px;
      margin-right: 15px;
      color: #879e33; }
    .single-page .detail-post .detail-top .pull-left .kp-meta .meta-time span,
    .single-page .detail-post .detail-top .pull-left .kp-meta .meta-comment span {
      color: #333333; }
.single-page .detail-post .detail-main p {
  margin-top: 10px; }
  .single-page .detail-post .detail-main p:first-child {
    margin-top: 0; }
.single-page .detail-post .detail-main .kp-dropcap {
  position: relative; }
  .single-page .detail-post .detail-main .kp-dropcap:first-letter {
    float: left;
    position: relative;
    font-size: 45px;
    color: #fff;
    background: #879e33;
    margin-right: 10px;
    height: 48px;
    line-height: 49px;
    width: 44px;
    text-align: center;
    margin-top: 6px;
    font-weight: bold;
    display: block; }
.single-page .detail-post .detail-main strong {
  margin-top: 10px;
  display: inline-block; }
.single-page .detail-post .detail-main .kp-quote span {
  color: #879e33;
  font-size: 40px;
  height: 40px;
  width: 40px;
  background: none;
  float: left;
  display: block;
  margin-right: 10px;
  margin-bottom: 18px; }
.single-page .kp-tags {
  height: 42px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  background: #f2f2f2;
  line-height: 36px; }
  .single-page .kp-tags strong {
    background: #879e33;
    color: #fff;
    top: 3px;
    font-size: 30px;
    font-family: "BebasNeuewebfont";
    position: relative;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 6px;
    padding-right: 10px;
    margin-right: 25px;
    font-weight: normal; }
    .single-page .kp-tags strong:after {
      border-bottom: 19px solid transparent;
      border-left: 13px solid #879E33;
      border-top: 19px solid transparent;
      content: "";
      height: 0;
      position: absolute;
      right: -12px;
      top: 2px;
      width: 0; }
  .single-page .kp-tags a {
    color: #333;
    font-size: 13px;
    font-family: "Georgia";
    font-style: italic;
    margin-bottom: 2px; }
  .single-page .kp-tags a:hover {
    color: #879E33;
  }

.single-page .kp-comment {
  margin-top: 30px; }
  .single-page .kp-comment .number-comment {
    font-size: 25px;
    font-family: "BebasNeuewebfont";
    color: #879e33;
    margin-bottom: 25px; }
  .single-page .kp-comment .parent-cm li .comment-detail {
    margin-bottom: 20px; }
    .single-page .kp-comment .parent-cm li .comment-detail header {
      background: #f2f2f2;
      border-radius: 8px 8px 0 0;
      padding: 10px 10px 0 10px; }
      .single-page .kp-comment .parent-cm li .comment-detail header figure {
        width: 50px;
        float: left;
        margin-right: 15px; }
        .single-page .kp-comment .parent-cm li .comment-detail header figure img {
          width: 100%;
          height: auto; }
      .single-page .kp-comment .parent-cm li .comment-detail header h3 {
        font-size: 20px;
        font-family: "League Gothic";
        font-weight: normal;
        margin-top: -12px;
        margin-left: 65px;
        margin-bottom: -10px; }
      .single-page .kp-comment .parent-cm li .comment-detail header .kp-meta {
        color: #777;
        font-size: 13px; }
      .single-page .kp-comment .parent-cm li .comment-detail header .span2 {
        text-align: right; }
        .single-page .kp-comment .parent-cm li .comment-detail header .span2 a {
          font-family: "Georgia";
          font-size: 14px;
          color: #879e33;
          font-style: italic;
          display: inline-block;
          margin-top: 15px; }
          .single-page .kp-comment .parent-cm li .comment-detail header .span2 a:hover {
            color: #0b0b0b; }
    .single-page .kp-comment .parent-cm li .comment-detail > p {
      border: 1px solid #dbdbdb;
      border-top: none;
      border-radius: 0 0 8px 8px;
      padding: 15px; }
  .single-page .kp-comment .parent-cm li .sub-cm {
    margin-left: 70px; }
    .single-page .kp-comment .parent-cm li .sub-cm .sub-cm header {
      background: #fff;
      border: 1px solid #dbdbdb; }
      .single-page .kp-comment .parent-cm li .sub-cm .sub-cm header .span2 {
        display: none; }
.single-page .form-reply h2 {
  font-family: "BebasNeuewebfont";
  font-size: 25px;
  color: #879e33; }
.single-page .form-reply h3 {
  font-size: 13px;
  font-family: "Georgia";
  color: #666;
  font-style: italic; }
.single-page .form-reply label {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block; }
.single-page .form-reply input,
.single-page .form-reply textarea {
  box-shadow: none;
  -webkit-box-shadow: none;
  position: relative;
  display: block; }
  .single-page .form-reply input:focus,
  .single-page .form-reply textarea:focus {
    border: 1px solid #879e33; }
.single-page .form-reply #name-input,
.single-page .form-reply #email-input {
  height: 39px; }
.single-page .form-reply #your-cm {
  height: 174px; }
.single-page .form-reply p {
  position: relative; }
  .single-page .form-reply p label.error {
    position: absolute;
    top: 40px;
    right: 10px;
    color: #879e33;
    font-weight: normal; }
.single-page .form-reply .submit-form {
  border: none;
  color: #fff;
  padding-top: 3px;
  font-family: "BebasNeuewebfont";
  font-size: 25px;
  border-radius: 6px;
  padding-right: 50px;
  padding-left: 10px;
  height: 42px;
  line-height: 42px;
  display: block;
  position: relative;
  background: #879e33 url(images/icons/form-sb.png) no-repeat 80px center;
  margin-top: 15px;
  position: relative; }
  .single-page .form-reply .submit-form:focus {
    border: none; }
.single-page .form-reply .span8 .submit-form {
  display: none; }
.single-page .related-articles {
  margin-top: 35px;
  position: relative; }
  .single-page .related-articles h2 {
    font-size: 25px;
    font-family: "BebasNeuewebfont";
    color: #879e33;
    border-bottom: 1px solid #dbdbdb;
    margin-bottom: 25px;
    padding-bottom: 10px; }
  .single-page .related-articles .list_carousel li {
    width: 237px !important;
    display: block;
    float: left;
    margin-left: 30px; }
    .single-page .related-articles .list_carousel li:first-child {
      margin-left: 0; }
  
      .single-page .related-articles .list_carousel li .list-item img {
        width: 100%; }
      .single-page .related-articles .list_carousel li .list-item a {
        font-size: 20px;
        font-family: "League Gothic";
        color: #0b0b0b;
        display: inline-block;
        margin-top: 12px;
        margin-bottom: 7px; }
        .single-page .related-articles .list_carousel li .list-item a:hover {
          color: #879e33; }
  .single-page .related-articles .list_carousel.responsive {
    width: auto;
    margin-left: 0; }
  .single-page .related-articles .prev,
  .single-page .related-articles .next {
    position: absolute;
    top: 0;
    background: none;
    color: #fff;
    background: #879e33;
    display: inline-block;
    padding: 4px 4px 6px;
    margin-top: 2px;
    font-size: 18px; }
    .single-page .related-articles .prev:hover,
    .single-page .related-articles .next:hover {
      background: #ababab; }
  .single-page .related-articles .prev {
    right: 25px;
    border-radius: 4px 0 0 4px; }
  .single-page .related-articles .next {
    right: 0;
    border-radius: 0 4px 4px 0; }

/*==========================
    about
======================*/
.about-us .detail-top .pull-left h2 {
  font-size: 30px;
  font-family: "BebasNeuewebfont";
  color: #879e33; }
.about-us .detail-top .pull-left .info-company li {
  margin-top: 15px; }
  .about-us .detail-top .pull-left .info-company li a {
    color: #333333
  }
  .about-us .detail-top .pull-left .info-company li a:hover {
    color: #879e33
  }
  .about-us .detail-top .pull-left .info-company li span {
    color: #879e33;
    background: none;
    font-size: 18px;
    margin-right: 10px;
    margin-top: -2px; }
.about-us .detail-top .pull-right {
  width: 448px !important; }

.about-us-sidebar .widget-title {
  color: #879e33;
  font-size: 30px;
  font-family: "BebasNeuewebfont";
  margin-top: -8px; }
.about-us-sidebar .widget {
  border: none;
  margin-top: 0;
  padding-top: 0; }
.about-us-sidebar .info-author {
  margin-top: 25px; }
  .about-us-sidebar .info-author .pull-left,
  .about-us-sidebar .info-author .pull-right {
    float: none; }
  .about-us-sidebar .info-author .pull-left {
    margin-bottom: 20px; }
    .about-us-sidebar .info-author .pull-left .kp-thumb {
      width: 100%; }
    .about-us-sidebar .info-author .pull-left p {
      font-size: 20px;
      font-family: "BebasNeuewebfont";
      font-style: normal; }
      .about-us-sidebar .info-author .pull-left p a {
        float: right; }
  .about-us-sidebar .info-author .pull-right {
    width: 100%; }

/*==========================
    protfolios2
======================*/
#protfolios-2, #protfolios-3 {
  margin-right: -30px; }
  #protfolios-2 li, #protfolios-3 li {
    display: block;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px; }
    #protfolios-2 li a, #protfolios-3 li a {
      margin: 0;
      border: none;
      display: block;
      width: 504px !important;
      height: auto !important;
      overflow: hidden;
      position: relative; }
      #protfolios-2 li a img, #protfolios-3 li a img {
        width: 100%;
        height: auto;
        display: block; }
      #protfolios-2 li a .caption, #protfolios-3 li a .caption {
        background: #93a847 !important;
        background: rgba(135, 158, 51, 0.9) !important;
        color: #fff !important;
        width: 100%;
        position: absolute; }
        #protfolios-2 li a .caption h3, #protfolios-3 li a .caption h3 {
          font-weight: normal !important;
          font-family: "League Gothic" !important;
          font-size: 25px !important;
          padding: 0;
          line-height: 25px;
          margin: 10px 0 0 15px; }
        #protfolios-2 li a .caption p, #protfolios-3 li a .caption p {
          font-size: 12px !important;
          font-family: "Arial" !important;
          margin-left: 15px;
          padding: 0;
          margin-top: 5px; }
        #protfolios-2 li a .caption .icon-search, #protfolios-3 li a .caption .icon-search {
          background-color: #fff;
          background-image: none;
          font-size: 20px;
          color: #879e33;
          border-radius: 50%;
          width: 50px;
          float: right;
          margin-right: 10px;
          height: 50px;
          display: block;
          line-height: 50px;
          text-align: center;
          margin: 10px 0 10px 10px;
          position: relative; }

/*==========================
    protfolios3
======================*/

  #protfolios-3 li a {
    width: 326px !important; }

@-moz-document url-prefix() {
  .kp-dropcap:first-letter {
    padding: 10px; } }

/*==========================
    error-404
======================*/
.error-404 {
  margin: 50px 10% 50px; }

.error-404 .left-col {
  width: 41%;
  float: left;
  margin: 0 2%; }

.error-404 .left-col p {
  font-size: 120px;
  font-family: "BebasNeuewebfont";
  font-weight: 700;
  color: #879e33;
  line-height: 100px;
  text-align: right; }

.error-404 .right-col {
  width: 50%;
  float: left;
  margin: 0 2%; }

.error-404 .right-col h1 {
  margin-bottom: 10px;
  font-size: 44px;
  color: #879e33;
  margin-top: -2px;
  font-family: "BebasNeuewebfont"; }

.error-404 .right-col p {
  margin-bottom: 10px; }

.error-404 .right-col a {
  color: #879e33;
  font-size: 14px;
  margin-bottom: 5px; }

.error-404 .right-col a:hover {
  color: #0b0b0b; }
  /*==================
page contact
================*/
#kp-map {
  width: 100%;
  height: 680px
}
#kp-map iframe {
  width: 100%;
  height: 100%
}
#contact-content {
  background:#f6f6f6;
  border:1px solid #e4e4e4;
  padding:20px;
  margin-bottom:25px
}
#contact-content h2 {
  font-size: 28px;
  margin-bottom: 10px;
  margin-top: -5px;
  margin-bottom:10px;
  line-height: 40px;
}
#contact-content p {
  font-size:14px;
  font-weight:bold;
  margin-bottom: 10px
}
#contact-content li {
  list-style:none;
  margin-bottom: 10px;
}
#contact-content li i {
  color: #879e33;
  font-size: 16px;
  background-image: none;
  display: block;
  float: left;
}

#contact-content li span {
  margin-left:10px;
  display: inline-block;
  float: left;
  width: 85%
}
#contact-content li a {
  color: #333
}
#contact-content li a:hover {
  color: #879e33
}
#contact-content li.kp-phone {
  margin-left:18px;
}

#form-contact p {
  margin-right:12px;
  position: relative;
}
#form-contact p label.error {
    position: absolute;
    top: 32px;
    right: 10px;
    color:#879e33
}



#form-contact p label span {
  color:#879e33
}
#form-contact p span {
  color:#879e33
}

#form-contact input {
  width:99%;
  height:35px;
  line-height:35px;
  border-radius:0;
  -o-border-radius:0;
  -ms-border-radius:0;
  -moz-border-radius:0;
  -webkit-border-radius:0;
  background:#f6f6f6;
  box-shadow:none
}
#form-contact input:focus,
#form-contact textarea:focus {
    border: 1px solid #879e33
}

#form-contact label {
  display:block;
    font-size: 12px
}
#form-contact textarea {
  width:99%;
  border-radius:0;
    -o-border-radius:0;
    -ms-border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
  box-shadow:none;
  background:#f6f6f6;
}

.contact-submit {
  background:#879e33 !important;
  border:none;
  width:70px !important;
  height:34px !important;
  color:#fff;
  font-size: 20px;
  font-family: "BebasNeuewebfont";
  text-align:center;
  line-height:40px;
  float:right;
  text-transform:uppercase
}

.contact-submit:hover {
  background:#879e33 !important;
  transition:all 0.3s;
  -o-transition:all 0.3s;
  -moz-transition:all 0.3s;
  -webkit-transition:all 0.3s;
  
}
.ie10 .single-page .detail-post .detail-main .kp-dropcap:first-letter {
                padding:10px 20px 0 20px;
            }