@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-wordpress, .icon-chevron-sign-right, .icon-chevron-sign-left, .icon-tumblr, .icon-phone, .icon-android, .icon-envelope, .icon-left-quote, .icon-search, .icon-chevron-left, .icon-chevron-right, .icon-link, .icon-google-plus, .icon-alarm, .icon-bubbles, .icon-facebook, .icon-home {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-wordpress:before {
	content: "\f074";
}
.icon-chevron-sign-right:before {
	content: "\f138";
}
.icon-chevron-sign-left:before {
	content: "\f137";
}
.icon-tumblr:before {
	content: "\f173";
}
.icon-phone:before {
	content: "\e000";
}
.icon-android:before {
	content: "\e001";
}
.icon-envelope:before {
	content: "\e002";
}
.icon-left-quote:before {
	content: "\e003";
}
.icon-search:before {
	content: "\e004";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}
.icon-link:before {
	content: "\e005";
}
.icon-google-plus:before {
	content: "\f0d5";
}
.icon-alarm:before {
	content: "\f233";
}
.icon-bubbles:before {
	content: "\e006";
}
.icon-facebook:before {
	content: "\e007";
}
.icon-home:before {
	content: "\f015";
}
