@media only screen and (max-width: 1023px) {
    .slider-home .flex-control-nav {
      background: none;
      border: none;
      margin-top: -36px;
    }

    .slider-home .flex-control-nav li {
      margin-right: 10px
    }
    .slider-home .flex-control-nav li,
    .slider-home .flex-control-nav li:first-child a,
    .slider-home .flex-control-nav li:first-child .flex-active {
      border: none;
      border-radius: 50%;
    }
    
    .slider-home .flex-control-nav li a{
      background: #ccc;
      text-indent: -999px;
      padding: 0;
      height: 20px;
      width: 20px;
      line-height: 20px;
      display: block;
      border-radius: 50%
    }
  

  }
@media only screen and (min-width: 1024px) and (max-width: 1080px) {
  .container {
    width: 980px !important; }

  /*====================================
  index
  ======================================*/
  #page-header .navbar-form {
    width: 240px; }

  #page-header .navbar-form input {
    width: 190px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px; }

  .slider-home .flex-control-nav {
    margin-top: -97px; }



  #main-content > .container .area-1 .main-top li .featured-item {
    width: 274px;
    padding: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 54%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 62.15%; }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .detail-top .pull-right {
    width: 468px; }

  .single-page .related-articles .list_carousel li {
    margin-left: 20px;
    width: 230px !important; }

  /*====================================
  blog-detail
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 45%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 428px !important; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li a {
    width: 474px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
    width: 316px !important; } 

  }

@media only screen and (min-width: 980px) and (max-width: 1023px) {
  .container {
    width: 940px !important; }

  /*====================================
  index
  ======================================*/
  #page-header .navbar-form {
    width: 240px; }

  #page-header .navbar-form input {
    width: 190px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px; }

  #main-content > .container .area-1 .main-top li .featured-item {
    width: 261px;
    padding: 20px; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 34px;
    font-size: 34px;
    margin-top: 5px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 38px; }

  .last-news li .kp-post .kp-post-content {
    width: 52%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 65.15%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 78%; }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .detail-top {
    padding-left: 15px; }

  .single-page .detail-post .detail-top .pull-right {
    width: 450px; }

  .single-page .info-author .pull-right {
    width: 70%; }

  .single-page .related-articles .list_carousel li {
    margin-left: 20px;
    width: 220px !important; }

  /*====================================
  blog-detail
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 42%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 424px !important; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a {
    width: 465px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
    width: 303px !important; }
    #kp-map {
      height: 735px
    } }
@media only screen and (min-width: 900px) and (max-width: 979px) {
  .container {
    width: 860px !important; }

  /*====================================
  index
  ======================================*/
  #page-header .navbar-form {
    width: 150px; }

  #page-header .navbar-form input {
    width: 100px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px; }

 

  #main-content > .container .area-1 .main-top li .featured-item {
    width: 234px;
    padding: 20px; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 30px;
    font-size: 30px;
    margin-top: 5px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 34px; }

  .last-news li .kp-post .kp-post-content {
    width: 47%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 72%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 76%; }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .detail-top {
    padding-left: 15px; }

  .single-page .detail-post .detail-top .pull-right {
    width: 410px; }

  .single-page .info-author .pull-right {
    width: 67%; }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 304px !important; }

  /*====================================
  blog-detail
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 37%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 360px !important; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a {
    width: 425px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
    width: 276px !important; }
    #kp-map {
      height: 775px
    }
  #contact-content li span {
    width: 84px
  }
}
@media only screen and (min-width: 800px) and (max-width: 899px) {
  .container {
    width: 760px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }

  #page-header .navbar-form {
    width: 210px; }

  #page-header .navbar-form input {
    width: 160px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px; }



  #main-content > .container .area-1 .main-top li .featured-item {
    width: 201px;
    padding: 20px; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 30px;
    font-size: 30px;
    margin-top: 5px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 83%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 73%; }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .detail-top {
    padding-left: 15px; }

  .single-page .detail-post .detail-top .pull-right {
    width: 330px; }

  .single-page .info-author .pull-right {
    width: 63%; }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 267px !important; }

  /*====================================
  blog-detail
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 296px !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: hidden; }

  .about-us-sidebar .info-author .pull-left p span {
    display: block;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: left;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a {
    width: 375px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
    width: 243px !important; } 
  #contact-content li span {
      width: 80%;
      white-space: normal;
      margin-left: 5px
    }
  #contact-content {
    padding: 20px 0 20px 10px
  }
  #kp-map {
      height: 735px
    }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
  .container {
    width: 728px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #page-header .navbar-form {
    width: 210px; }

  #page-header .navbar-form input {
    width: 160px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px; }



  #main-content > .container .area-1 .main-top li .featured-item {
    width: 190px;
    padding: 20px; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 24px;
    font-size: 24px;
    margin-top: 10px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 87%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 72%; }

  #main-content > .container .main-content-bottom .widget .widget-title {
    margin-bottom: -10px; }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .detail-top {
    padding-left: 15px; }
    .single-page .detail-post .detail-top .pull-left {
      margin-top: 10px
    }
  .single-page .detail-post .detail-top .pull-right {
    width: 100%; }

  .single-page .info-author .pull-right {
    width: 61%; }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 255px !important; }

  /*====================================
  blog
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 100% !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: hidden; }

  .about-us-sidebar .info-author .pull-left p span {
    display: block;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: left;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a {
    width: 359px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
    width: 232px !important; }
    #contact-content li i {
      display: none;
    }
    #contact-content {
      padding: 20px 10px
    }
    #contact-content li span {
      margin-left: 0
    }
    #kp-map {
      height: 755px
    }
    .kp-meta {
      margin-top: 10px;
    }
}
@media only screen and (min-width: 640px) and (max-width: 767px) {
  .container {
    width: 600px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #page-header .navbar-form {
    width: 210px; }

  #page-header .navbar-form input {
    width: 160px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px;
    width: 360px;
    padding:20px;
 }
  .slider-home .slider-item .slider-caption p {
    display: none;
  }
  .slider-home .slider-item .slider-caption > a {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 5px
  } 


  #main-content > .container .area-1 .main-top li {
    margin-left: 0;
    margin-top:20px;
  }
  #main-content > .container .area-1 .main-top li:first-child {
    margin-top: 0
  }
  #main-content > .container .area-1 .main-top li .featured-item {
    width: 94%;
    padding: 1% 3% 3%; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 24px;
    font-size: 24px;
    margin-top: 10px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 49%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 92%; }

  #main-content > .container .main-content-bottom .widget .widget-title {
    margin-bottom: -10px; }
  .sidebar-bottom .widget {
    margin-bottom: 20px
  }
  #page-footer p {
    text-align: left;
  }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .widget-title {
    line-height: 35px;
    font-size: 28px
  }
  .single-page .detail-post .detail-top {
    padding-left: 15px; }

  .single-page .detail-post .detail-top .pull-right {
    width: 100%; }

  .single-page .info-author .pull-right {
    width: 65%; }
    .single-page .kp-comment .parent-cm li .comment-detail header h3,
    .single-page .kp-comment .parent-cm li .comment-detail header .kp-meta {
      float: left;
      width: 300px;
      margin-left: 0;
    }
  .single-page .kp-comment .parent-cm li .comment-detail header .span2 a {
    margin-top: 0
  }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 285px !important; }
  .single-page .form-reply .span4 .submit-form {
    display: none;
  }
  .single-page .form-reply .span8 .submit-form {
    display: block;
  }
  .sidebar {
    margin-top: 30px
  }
  /*====================================
  blog
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 100% !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: visible; }

  .about-us-sidebar .info-author .pull-left p span {
    display: inline;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: right;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a {
    width: 295px !important; }

  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-3 li a {
  width: 190px !important; 
  } 
  #protfolios-2 li a .caption .span3, #protfolios-3 li a .caption .span3 {
    display: none;
  }
  #kp-map {
      height: 300px
    }
  .kp-meta {
    margin-top: 10px;
  }
  }

@media only screen and (min-width: 600px) and (max-width: 639px) {
  .container {
    width: 560px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #page-header .navbar-form {
    width: 210px; }

  #page-header .navbar-form input {
    width: 160px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px;
    width: 360px;
    padding:20px;
 }
  .slider-home .slider-item .slider-caption p {
    display: none;
  }
  .slider-home .slider-item .slider-caption > a {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 5px
  } 


  #main-content > .container .area-1 .main-top li {
    margin-left: 0;
    margin-top:20px;
  }
  #main-content > .container .area-1 .main-top li:first-child {
    margin-top: 0
  }
  #main-content > .container .area-1 .main-top li .featured-item {
    width: 94%;
    padding: 1% 3% 3%; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 24px;
    font-size: 24px;
    margin-top: 10px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 53%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 91%; }

  #main-content > .container .main-content-bottom .widget .widget-title {
    margin-bottom: -10px; }
  .sidebar-bottom .widget {
    margin-bottom: 20px
  }
  #page-footer p {
    text-align: left;
  }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .widget-title {
    line-height: 35px;
    font-size: 28px
  }
  .single-page .detail-post .detail-top {
    padding-left: 15px; }
    .single-page .detail-post .detail-top .pull-left {
      margin-top: 10px
    }
  .single-page .detail-post .detail-top .pull-right {
    width: 100%; }

  .single-page .info-author .pull-right {
    width: 63%; }
    .single-page .kp-comment .parent-cm li .comment-detail header h3,
    .single-page .kp-comment .parent-cm li .comment-detail header .kp-meta {
      float: left;
      margin-left: 0;
      width: 300px
    }
  .single-page .kp-comment .parent-cm li .comment-detail header .span2 a {
    margin-top: 0
  }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 265px !important; }
  .single-page .form-reply .span4 .submit-form {
    display: none;
  }
  .single-page .form-reply .span8 .submit-form {
    display: block;
  }
  .sidebar {
    margin-top: 30px
  }
  /*====================================
  blog
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 100% !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: visible; }

  .about-us-sidebar .info-author .pull-left p span {
    display: inline;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: right;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li,
  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a,
  #protfolios-3 li a {
  width: 275px !important; }
  #protfolios-2 li a .caption .span3, #protfolios-3 li a .caption .span3 {
    display: none;
  }
  #kp-map {
      height: 300px
    }
}


@media only screen and (min-width: 480px) and (max-width: 599px) {
  .container {
    width: 440px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #page-header .navbar-form {
    width: 210px; }

  #page-header .navbar-form input {
    width: 160px; }

  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px;
    width: 360px;
    padding:20px;
 }
  .slider-home .slider-item .slider-caption p {
    display: none;
  }
  .slider-home .slider-item .slider-caption > a {
    font-size: 44px;
    line-height: 44px;
    margin-bottom: 5px
  } 

  #main-content > .main-top .container h1 {
    font-size: 34px
  }
  #main-content > .container .area-1 .main-top li {
    margin-left: 0;
    margin-top:20px;
  }
  #main-content > .container .area-1 .main-top li:first-child {
    margin-top: 0
  }
  #main-content > .container .area-1 .main-top li .featured-item {
    width: 94%;
    padding: 1% 3% 3%; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 24px;
    font-size: 24px;
    margin-top: 10px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 68%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 88%; }

  #main-content > .container .main-content-bottom .widget .widget-title {
    margin-bottom: -10px; }
  .sidebar-bottom .widget {
    margin-bottom: 20px
  }
  #page-footer p {
    text-align: left;
  }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .widget-title {
    line-height: 35px;
    font-size: 22px
  }
  .single-page .detail-post .detail-top {
    padding-left: 15px; }
  .single-page .detail-post .detail-top .pull-left {
      margin-top: 10px
    }
  .single-page .detail-post .detail-top .pull-right {
    width: 100%; }

  .single-page .info-author .pull-right {
    width: 53%; }
    .single-page .kp-comment .parent-cm li .comment-detail header h3,
    .single-page .kp-comment .parent-cm li .comment-detail header .kp-meta {
      float: left;
      width: 210px;
      margin-left: 0;
    }
    .single-page .kp-tags {
      height: 43px
    }
    .single-page .kp-tags strong {
      float: left;;
      top: 0
    }
    .single-page .kp-tags a {
      float: left;
      line-height: 20px;
      margin-right: 10px
    }
  .single-page .kp-comment .parent-cm li .comment-detail header .span2 a {
    margin-top: 0
  }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 205px !important; }
  .single-page .form-reply .span4 .submit-form {
    display: none;
  }
  .single-page .form-reply .span8 .submit-form {
    display: block;
  }
  .sidebar {
    margin-top: 30px
  }
  /*====================================
  blog
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 100% !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: visible; }

  .about-us-sidebar .info-author .pull-left p span {
    display: inline;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: right;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li,
  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a,
  #protfolios-3 li a {
    width: 215px !important; }

  /*====================================
  about
  ======================================*/
  .error-404 .left-col,
  .error-404 .right-col {
    width: 100%;
    margin: 0
  }
  .error-404 .right-col {
    margin-top: 20px
  }
  .error-404 .left-col p {
    text-align: center;
  }
  #protfolios-2 li a .caption .span3, #protfolios-3 li a .caption .span3 {
    display: none;
  }
  #kp-map {
      height: 300px
    }
}




@media only screen and (max-width: 479px) {
  .container {
    width: 300px !important; }

  /*====================================
  index
  ======================================*/
  #menu-top {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  #page-header .navbar-form {
    display: none;
}



  .slider-home .slider-item .slider-caption {
    top: 20px;
    right: 80px;
    width: 200px;
    padding:0 20px;
 }
  .slider-home .slider-item .slider-caption p {
    display: none;
  }
  .slider-home .slider-item .slider-caption > a {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 5px
  } 

  #main-content > .main-top .container h1 {
    font-size: 34px
  }
  #main-content > .container .area-1 .main-top li {
    margin-left: 0;
    margin-top:20px;
  }
  #main-content > .container .area-1 .main-top li:first-child {
    margin-top: 0
  }
  #main-content > .container .area-1 .main-top li .featured-item {
    width: 94%;
    padding: 1% 3% 3%; }

  #main-content > .container .area-1 .main-top li .featured-item header span {
    width: 24px;
    font-size: 24px;
    margin-top: 10px; }

  #main-content > .container .area-1 .main-top li .featured-item header h2 {
    font-size: 28px; }

  .last-news li .kp-post figure, .article-list li .kp-post figure {
    width: 100%;
    margin-bottom: 20px; }

  .last-news li .kp-post .kp-post-content {
    width: 100%; }

  .last-video .kp-media .video-wrapper {
    padding-bottom: 103%; }

  .sidebar-bottom .newsletter .navbar-form input {
    width: 84%; }

  #main-content > .container .main-content-bottom .widget .widget-title {
    margin-bottom: -10px; }
  .sidebar-bottom .widget {
    margin-bottom: 20px
  }
  #page-footer p {
    text-align: center;
  }

  /*====================================
  blog-detail
  ======================================*/
  .single-page .detail-post .widget-title {
    line-height: 26px;
    font-size: 20px
  }
  .single-page .detail-post .detail-top {
    padding-left: 15px; }
    .single-page .detail-post .detail-top .pull-left {
      margin-top: 10px
    }
  .single-page .detail-post .detail-top .pull-right {
    width: 100%; }

  .single-page .info-author .pull-right {
    width: 100%;
    margin-top: 20px }
    .single-page .kp-comment .parent-cm li .comment-detail header h3,
    .single-page .kp-comment .parent-cm li .comment-detail header .kp-meta {
      float: left;
      margin-left: 0;
      width: 210px
    }
    .single-page .kp-tags {
      height: 68px
    }
    .single-page .kp-tags strong {
      float: left;;
      top: 0;
      margin-bottom: 20px
    }
    .single-page .kp-tags a {
      float: left;
      line-height: 20px;
      margin-right: 10px
    }
  .single-page .kp-comment .parent-cm li .comment-detail header .span2 a {
    margin-top: 0
  }
  .single-page .kp-comment .parent-cm li .sub-cm {
    margin-left: 0
  }

  .single-page .related-articles .list_carousel li {
    margin-left: 30px;
    width: 300px !important; }
  .single-page .form-reply .span4 .submit-form {
    display: none;
  }
  .single-page .form-reply .span8 .submit-form {
    display: block;
  }
  .sidebar {
    margin-top: 30px
  }
  /*====================================
  blog
  ======================================*/
  .article-list li .kp-post .kp-post-content {
    width: 100%; }

    .single-page .info-author .pull-left,
    .single-page .info-author .pull-left .kp-thumb {
      width: 100%
    }
  /*====================================
  about-us
  ======================================*/
  .about-us .detail-top .pull-right {
    width: 100% !important; }

  .about-us-sidebar .widget-title {
    margin-bottom: -20px; }

  .about-us-sidebar .info-author .pull-left p {
    overflow: visible; }

  .about-us-sidebar .info-author .pull-left p span {
    display: inline;
    margin-bottom: 10px; }

  .about-us-sidebar .info-author .pull-left p a {
    float: right;
    margin-left: 0;
    margin-right: 10px; }

  /*====================================
  protfolios
  ======================================*/
  #protfolios-2 li,
  #protfolios-3 li {
    margin-right: 20px;
    margin-bottom: 20px; }

  #protfolios-2 li a,
  #protfolios-3 li a {
    width: 300px !important; }
  /*====================================
  about
  ======================================*/
  .error-404 .left-col,
  .error-404 .right-col {
    width: 100%;
    margin: 0
  }
  .error-404 .right-col {
    margin-top: 20px
  }
  .error-404 .left-col p {
    text-align: center;
  }
  #protfolios-2 li a .caption .span3, #protfolios-3 li a .caption .span3 {
    display: none;
  }
  #kp-map {
      height: 300px
    }
}
